*.iml
.DS_Store
/build
/captures
.externalNativeBuild
*.apk
*.ap_

*.dex
*.class

bin/
gen/
build/

local.properties
.classpath
.project
*.swp

/.idea/workspace.xml
/.idea/libraries
/.idea/modules.xml
/.idea/gradle.xml
/.idea/vcs.xml


/.DS_Store
/.svn
/captures
*.iml
.gradle

/settings.gradle
/maven.gradle
/module.gradle
/local.properties
/gradle
/gradlew
/gradlew.bat
